<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    {{!Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{! Style'n' Scripts }}
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,700"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}"/>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

{{! Everything else gets inserted here }}
<div class="container">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Rolf A. <b>{{@blog.title}}</b> for Design Creativity</h3>
                        {{navigation}}
                    </div>
                </div>
                {{{body}}}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <footer class="site-footer">

<table id="HeaderTable" width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="15" bgcolor="ffffff">
			<img src="/images/spacer.gif" width="15" height="56" alt="">
        </td>
​
		<td bgcolor="#ffffff" style="min-width:750px">
		
        	<h2>
                <img src="/images/break.gif" width=100% height="1px">
                <br>
                <br>
            </h2>
        	
            
            	<table width="700px" border="0" cellpadding="0" cellspacing="0">
                	<tr>
                        <td valign="top" width="30%">
                            <h2>
                                <b>Faste Foundation</b><br>
                                90 Peter Coutts Circle<br>
                                Stanford, CA 94305
                                
                                <br>
                                <br>
                                <a href="mailto:info@fastefoundation.org">info@fastefoundation.org</a>
                                <br><br>
                            </h2>
                        </td>
                        
                        <td width="15px">
                            <img src="/images/spacer.gif" width="100%">
                        </td>
                        
                        <td valign="top">
                            <h2>
                                <a href="mailing_list_subscribe.php"><b>Click here</b></a> to join our mailing list.<br>
                                The Faste Foundation is a 501(c)3 public charity.<br>
                                All donations are tax-deductable.
                                
                                <br>
                                <section class="copyright">All content copyright <a href="/">Rolf A. <b>{{@blog.title}}</b> for Design Creativity</a> &copy;
                2015 &bull; All rights reserved.
            </section>
                                
                                
                            </h2>
                            
                            
                        </td>
                        
                        <td width="15px">
                            <img src="/images/spacer.gif" width="100%">
                        </td>
                        
                        <td valign="top" bgcolor="#ffffff">
                        	  <img src="/images/spacer.gif" height="23px"><br> <!--  14, 33 -->
                             <img src="/images/donate_small.jpg">
                        </td>               
                    </tr>
             	</table>
            
        </td>
             
    	<td width="25" bgcolor="ffffff">
			<img src="/images/spacer.gif" width="25" height="56" alt="">
        </td>
	</tr>
</table>

            </footer>
        </div>
    </div>
</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Readable }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{asset "js/jquery.bootstrap-autohidingnavbar.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>


</body>
</html>
